cachetools==5.3.0
dionysus==2.0.9
fire==0.5.0
giotto_tda==0.6.0
gudhi==3.7.1
homcloud==4.0.0
icecream==2.1.3
joblib==1.2.0
matplotlib==3.6.3
networkx==3.0
numba==0.57.0
numpy==1.24.3
orjson==3.9.1
pandas==2.0.2
pathos==0.3.0
Pillow==9.5.0
plotly==5.15.0
pytest==7.2.2
requests==2.28.2
scipy==1.11.1
setuptools==65.6.3
tqdm==4.64.1
